
.quotes:before{
	content:'\201C';
	display:inline;
	font-family: "Times New Roman", serif;
	font-weight:bold;
	margin-right:3px;
	vertical-align:middle;
	}
.quotes:after{
	content:'\201D';
	display:inline;
	font-family: "Times New Roman", serif;
	font-weight:bold;
	margin-left:3px;
	vertical-align:middle;
	}



/* ~~~~~~~~~~~~ ALERT BOXES ~~~~~~~~~~~~ */

.address_box,
.arrow_right_box,
.arrow_left_box,
.arrow_up_box,
.arrow_down_box,
.basket_box,
.bluearrow_right_box,
.bluearrow_left_box,
.bluearrow_up_box,
.bluearrow_down_box,
.book_box,
.calendar_box,
.camera_box,
.chart_box,
.check_box,
.comment_box,
.contact_box,
.download_box,
.error_box,
.fancy_box,
.folder_box,
.hammer_box,
.heart_box,
.home_box,
.info_box,
.idea_box,  /* deprecated */
.lightbulb_on_box,
.lightbulb_off_box,
.news_box,
.note_box,
.plain_box,
.plus_box,
.save_box,
.screen_on_box,
.screen_off_box,
.screwdriver_box,
.search_box,
.search_blue_box,
.search_green_box,
.star_box,
.tool_box,
.twitter_box,
.user_black_box,
.user_blue_box,
.user_business_box,
.users_box,
.users_business_box,
.video_box,
.warning_box
{
	margin: 10px 2px;
	min-height: 60px;
	padding: 10px 5px 10px 45px;
	overflow: auto;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 6px;
	-moz-border-radius: 6px;
}


.address_box {
	background:#FFFAF1 url(../images/address_book_32.png) no-repeat 5px 15px;
  	border:1px solid #976A1C;
	}
.arrow_right_box, .arrow_left_box, .arrow_up_box, .arrow_down_box {
    border:1px solid #82AA33;
    color:#4C5C25;
    }
.arrow_right_box {	background: #F8FFEA url(../images/arrow_right_32.png) no-repeat 5px 15px;}
.arrow_left_box {	background: #F8FFEA url(../images/arrow_left_32.png) no-repeat 5px 15px;}
.arrow_up_box {	background: #F8FFEA url(../images/arrow_up_32.png) no-repeat 5px 15px;}
.arrow_down_box  {	background: #F8FFEA url(../images/arrow_down_32.png) no-repeat 5px 15px;}
.basket_box {
	background: #F0F8FF url(../images/basket_32.png) no-repeat 5px 15px;
	border: 1px solid #68A2CF;
	color: #111;
    }
.bluearrow_right_box, .bluearrow_left_box, .bluearrow_up_box, .bluearrow_down_box {
	border: 1px solid #68A2CF;
	color: #111;
    }
.bluearrow_right_box  { background: #F0F8FF url(../images/blue_arrow_right_32.png) no-repeat 5px 15px;}
.bluearrow_left_box { background: #F0F8FF url(../images/blue_arrow_left_32.png) no-repeat 5px 15px;}
.bluearrow_up_box { background: #F0F8FF url(../images/blue_arrow_up_32.png) no-repeat 5px 15px;}
.bluearrow_down_box { background: #F0F8FF url(../images/blue_arrow_down_32.png) no-repeat 5px 15px;}
.book_box {
	background: #F0F8FF url(../images/book_32.png) no-repeat 5px 15px;
	border: 1px solid #68A2CF;
	color: #111;
    }
.calendar_box {
	background: #f9f9f9 url(../images/clock.png) no-repeat 5px 15px;
    border: 1px solid #bbb;
	color: #222;
}
.camera_box {
	background: #f9f9f9 url(../images/camera_32.png) no-repeat 5px 15px;
    border: 1px solid #bbb;
	color: #222;
}
.chart_box {
    background: #FFFBF2 url(../images/chart_32.png) no-repeat 5px 15px;
    border:1px solid orange;
	}
.check_box, .success_box {
    background:#F3FFDD url(../images/check.png) no-repeat 5px 15px;
    border:1px solid #608024;
    color:#4C5C25;
    }
.comment_box {
	background: #f9f9f9 url(../images/comment_user_32.png) no-repeat 5px 15px;
    border: 1px solid #bbb;
	color: #222;
	}
.contact_box {
	background: #f9f9f9 url(../images/email_32.png) no-repeat 5px 15px;
    border: 1px solid #bbb;
	color: #222;
	}
.download_box {
    background:#F4FFDF url(../images/download.png) no-repeat 5px 15px;
    border:1px solid #82AA33;
    color:#4C5C25;
    }
.download_box a { color: #222; }
.error_box, .alert_box {
  	background:#FFF6F6 url(../images/error.png) no-repeat 5px 15px;
  	border:1px solid #900;
  	color:#700;
    }
.fancy_box  {
	background:#F9F9F9 url(../images/gradient.gif) repeat-x 0 -10px;
	padding: 10px 20px;
	box-shadow: 0px 1px 3px #ccc;
	-moz-box-shadow: 0px 1px 3px #ccc;
	-webkit-box-shadow: 0px 1px 3px #ccc;
	}
.folder_box {
  	background:#FFFDFA url(../images/folder_32.png) no-repeat 5px 15px;
  	border:1px solid #976A1C;
	}
.hammer_box {
  	background:#f9f9f9 url(../images/hammer_32.png) no-repeat 5px 15px;
	border: 1px solid #999;
	color: #222;
	}
.heart_box {
    background: #FFFAFA url(../images/heart.png) no-repeat 5px 15px;
    border: 1px solid #DD0B0B;
    color: #AF0C0C;
    }
.home_box {
  	background:#FFFAF2 url(../images/home_32.png) no-repeat 5px 15px;
  	border:1px solid #976A1C;
	}
.info_box {
	background: #F2F9FF url(../images/info.png) no-repeat 5px 14px;
	border: 1px solid #68A2CF;
	color: #111;
    }
.idea_box  /* deprecated */, .lightbulb_on_box {
    background:#FFFDF1 url(../images/lightbulb_32.png) no-repeat 5px 15px;
    border: 1px solid #ffd700;
    color:#3F2D00;
    }
.lightbulb_off_box {
    background:#f9f9f9 url(../images/lightbulb_off_32.png) no-repeat 5px 15px;
	border: 1px solid #999;
	color: #222;
    }
.news_box {
	background:#f9f9f9 url(../images/newspaper_32.png) no-repeat 5px 15px;
	border: 1px solid #999;
	color: #222;
    }
.note_box {
    background:#FFFDF4 url(../images/page.png) no-repeat 5px 15px;
    border: 1px solid #ffd700;
    color:#3F2D00;
	padding-right: 15px;
    }
.plain_box {
    background:#F9F9F9;
    border: 1px solid #ddd;
    padding: 15px 20px;
    }
.plus_box {
    background:#F7FCEC url(../images/add_32.png) no-repeat 5px 15px;
    border:1px solid #82AA33;
    color:#4C5C25;
	}
.save_box {
	background: #EEF7FF url(../images/save_32.png) no-repeat 5px 15px;
	border: 1px solid #68A2CF;
	color: #111;
	}
.screen_on_box {
	background:#f9f9f9 url(../images/screen_32.png) no-repeat 5px 15px;
	border: 1px solid #999;
	color: #222;
	}
.screen_off_box {
	background:#f9f9f9 url(../images/screen_off_32.png) no-repeat 5px 15px;
	border: 1px solid #999;
	color: #222;
	}
.screwdriver_box {
  	background:#f9f9f9 url(../images/screwdriver_32.png) no-repeat 5px 15px;
	border: 1px solid #999;
	color: #222;
	}
.search_box {
	background: #f9f9f9 url(../images/search.png) no-repeat 5px 14px;
	border: 1px solid #999;
	color: #111;
	}
.search_blue_box {
	background: #EEF7FF url(../images/search_blue.png) no-repeat 5px 14px;
	border: 1px solid #68A2CF;
	}
.search_green_box {
	background: #F8FFEC url(../images/search_green.png) no-repeat 5px 14px;
	border: 1px solid #82AA33;
	color:#4C5C25;
	}
.star_box {
    background:#FFFDEF url(../images/star.png) no-repeat 5px 15px;
    border: 1px solid #ffd700;
    color:#3F2D00;
    }
.tool_box {
	background: #f9f9f9 url(../images/tools.png) no-repeat 5px 14px;
	border: 1px solid #999;
	}
.twitter_box  {
	background: #F6FFFF url(../images/twitter_32.png) no-repeat 5px 14px;
	border: 1px solid #49B3B3;
	}
.user_black_box {
	background: #f9f9f9 url(../images/user_32.png) no-repeat 5px 14px;
	border: 1px solid #999;
	}
.user_blue_box {
	background: #f9f9f9 url(../images/user_blue_32.png) no-repeat 5px 14px;
	border: 1px solid #999;
	}
.user_business_box {
	background: #f9f9f9 url(../images/user_business_32.png) no-repeat 5px 14px;
	border: 1px solid #999;
	}
.users_box {
	background: #f9f9f9 url(../images/users_32.png) no-repeat 5px 14px;
	border: 1px solid #999;
	}
.users_business_box {
	background: #f9f9f9 url(../images/users_business_32.png) no-repeat 5px 14px;
	border: 1px solid #999;
	}
.warning_box {
    background:#FFFDF4 url(../images/warning.png) no-repeat 5px 15px;
    border: 1px solid #ffd700;
    color:#3F2D00;
	padding-right: 15px;
    }





/* ~~~~~~~~~~~~ FANCY LISTS  ~~~~~~~~~~~~ */
.arrow_list ul,
.check_list ul,
.bullet_list ul,
.bullet_list_black ul,
.bullet_list_grey ul,
.bullet_list_gray ul,
.bullet_list_silver ul,
.bullet_list_blue ul,
.bullet_list_green ul,
.bullet_list_orange ul,
.bullet_list_pink ul,
.bullet_list_purple ul,
.bullet_list_red ul,
.bullet_list_yellow ul,
.bullet_list_add ul,
.bullet_list_delete ul,
.bullet_list_disk ul,
.bullet_list_error ul,
.bullet_list_key ul,
.bullet_list_picture ul,
.bullet_list_toggle_minus ul,
.bullet_list_toggle_plus ul,
.bullet_list_white ul,
.bullet_list_wrench ul,
.bullet_list_star ul
{
	margin: 5px 0 5px 10px !important;
	padding-left: 0 !important;
}

.arrow_list ul li,
.check_list ul li,
.bullet_list ul li,
.bullet_list_black ul li,
.bullet_list_grey ul li,
.bullet_list_gray ul li,
.bullet_list_silver ul li,
.bullet_list_blue ul li,
.bullet_list_green ul li,
.bullet_list_orange ul li,
.bullet_list_pink ul li,
.bullet_list_purple ul li,
.bullet_list_red ul li,
.bullet_list_yellow ul li,
.bullet_list_add ul li ,
.bullet_list_delete ul li ,
.bullet_list_disk ul li ,
.bullet_list_error ul li ,
.bullet_list_key ul li ,
.bullet_list_picture ul li ,
.bullet_list_toggle_minus ul li ,
.bullet_list_toggle_plus ul li ,
.bullet_list_white ul li ,
.bullet_list_wrench ul li ,
.bullet_list_star ul li
{
	margin-left:0 !important;
	line-height: 1.4em;
	list-style:none !important;
	list-style-type: none !important;
	min-height: 22px;
	overflow: auto;
	padding: 0 0 5px 20px !important;
}

.check_list ul li{background:transparent url(../images/check.gif) no-repeat 0 3px;}
.arrow_list ul li {background:transparent url(../images/bullet_arrow.png) no-repeat;}
.bullet_list ul li, .bullet_list_black ul li {background: transparent url(../images/dot_black.gif) no-repeat 0 7px; padding-left: 15px}
.bullet_list_gray ul li, .bullet_list_grey ul li {background: transparent url(../images/dot_gray.gif) no-repeat 0 7px; padding-left: 15px}
.bullet_list_blue ul li 	{background: transparent url(../images/dot_blue.gif) no-repeat 0 7px; padding-left: 15px}
.bullet_list_silver ul li 	{background: transparent url(../images/dot_gray_light.gif) no-repeat 0 5px; padding-left: 15px}
.bullet_list_green ul li 	{background: transparent url(../images/dot_green.gif) no-repeat 0 5px; padding-left: 15px}
.bullet_list_orange ul li 	{background: transparent url(../images/dot_orange.gif) no-repeat 0 5px; padding-left: 15px}
.bullet_list_pink ul li 	{background: transparent url(../images/dot_pink.gif) no-repeat 0 5px; padding-left: 15px}
.bullet_list_purple ul li 	{background: transparent url(../images/dot_purple.gif) no-repeat 0 5px; padding-left: 15px}
.bullet_list_red ul li 	{background: transparent url(../images/dot_red.gif) no-repeat 0 5px; padding-left: 15px}
.bullet_list_white ul li 	{background: transparent url(../images/dot_white.gif) no-repeat 0 5px; padding-left: 15px}
.bullet_list_yellow ul li 	{background: transparent url(../images/dot_yellow.gif) no-repeat 0 5px; padding-left: 15px}
.bullet_list_add ul li 		{background: transparent url(../images/bullet_add.png) no-repeat;}
.bullet_list_delete ul li 	{background: transparent url(../images/bullet_delete.png) no-repeat;}
.bullet_list_disk ul li 	{background: transparent url(../images/bullet_disk.png) no-repeat;}
.bullet_list_error ul li 	{background: transparent url(../images/bullet_error.png) no-repeat;}
.bullet_list_key ul li 	{background: transparent url(../images/bullet_key.png) no-repeat;}
.bullet_list_picture ul li 	{background: transparent url(../images/bullet_picture.png) no-repeat;}
.bullet_list_toggle_minus ul li 	{background: transparent url(../images/bullet_toggle_minus.png) no-repeat;}
.bullet_list_toggle_plus ul li 	{background: transparent url(../images/bullet_toggle_plus.png) no-repeat;}

.bullet_list_wrench ul li 	{background: transparent url(../images/bullet_wrench.png) no-repeat;}
.bullet_list_star ul li 	{background: transparent url(../images/bullet_star.png) no-repeat;}


/* BACK TO TOP SHORTCODE */
.divider.top {
	border-bottom: 1px solid #DDD;
	display: block;
	margin: 10px 0;
}
.divider.top a {text-decoration: none;}
.divider.top a:hover {text-decoration: underline}

/* SPACER SHORTCODE */
div.spacer{
	margin: 0;
	overflow: auto;
	padding: 0;
}

/* STYLED HORIZONTAL RULE SHORTCODE */
hr.solid {
	background: transparent;
	border: none;
	border-bottom: 1px solid #cfcfcf;
}
hr.dotted {
	background: transparent;
	border: none;
	border-bottom: 1px dotted #cfcfcf;
}
hr.dashed {
	background: transparent;
	border: none;
	border-bottom: 1px dashed #cfcfcf;
}

/* DROPCAP SHORTCODE */
.dropcap {
	color:#222;
	display:block;
	float:left;
	font-size: 45px;
	line-height: 42px;
	margin: 0 3px 0 0;
}

/* CALLOUT SHORTCODE */
.callout {
	background: #eee;
	border: 1px solid #ddd;
	border-width: 1px 0;
	margin-bottom: 1em;
	padding: 24px;
	-webkit-box-shadow: 0 1px 3px #ddd;
	-moz-box-shadow: 0 1px 3px #ddd;
	box-shadow: 0 1px 3px #ddd;
}

/* PULLQUOTE SHORTCODE */
.pullquote {
	background-color: #eee;
	border: 1px solid #ccc;
	border-width: 1px 0;
	float: left;
	font-size: 110%;
	font-weight: bold;
	margin: 20px 10px 20px 10px;
	padding: 20px;
	width: 40%;
	-webkit-box-shadow: 0 1px 3px #ddd;
	-moz-box-shadow: 0 1px 3px #ddd;
	box-shadow: 0 1px 3px #ddd;
}
.pullquote cite {
	clear: both;
	display: block;
	text-align: right;
	}
.pullquote.aligncenter {
	display:block;
	float:none;
	margin-left:2px;
	text-align:left;
	width:auto;
	}
.pullquote.alignright {float: right; margin-right:2px;}
.pullquote.alignleft {margin-left:2px;}

/* ~~~~~~~~~~~~ COLUMNS ~~~~~~~~~~~~ */
.clearboth, .clear {clear: both; height: 1px; overflow: auto}
.three_quarter, .three_quarters, .three_fourth, .three_fourths, .one_fourth, .one_quarter, .two_third, .two_thirds, .one_half, .one_third, .one_fifth, .four_fifths {
	float: left;
	margin: 5px 10px 0 0;
	/*overflow: auto;*/
	}
.one_half 	{width: 48%;}
.one_third 	{width: 31%;}
.two_third, .two_thirds {width: 66%;}
.one_quarter, .one_fourth {width: 23%;}
.three_quarter, .three_quarters, .three_fourth, .three_fourths {width: 73%;}
.one_fifth {width: 18%}
.four_fifths {width: 79%}
.last {
	clear: right;
	margin-right: 0 !important;
}

/* ~~~~~~~~~~~~ FANCY HEADERS ~~~~~~~~~~~~ */
.fancy_header span {
	background-color: #888;
	background-image: none!important;
	border-color: #788794;
	color: #FFF;
	font-size: 11px;
	letter-spacing: 2px;
	padding: 4px 12px;
	text-transform: uppercase;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	}

.fancy_header {
	background-image: none;
	margin-bottom: 20px;
	padding-bottom: 0;
}

h6.fancy_header {
	font-weight: normal;
	font-style: normal;
	font-family: inherit;
	}


/* ADMIN CHEAT SHEET */
#settings_page_salamander-shortcodes-widgets {font-size: 13px}
#settings_page_salamander-shortcodes-widgets code, #settings_page_salamander-shortcodes-widgets pre {font-size: 12px}
#settings_page_salamander-shortcodes-widgets  h4, #settings_page_salamander-shortcodes-widgets  h5 {margin-bottom: 0; margin-top: 5px}
#settings_page_salamander-shortcodes-widgets li {margin-bottom: 0; padding-bottom: 0}
